.citySelector{
    padding: 20px;
}

.selectedCity{
    font-size: 20px !important;
    color: white !important;
    svg{
        color: white;
    }
}

.cityContainer{
    background-color: white;
    font-size: 20px !important;
}

.cityOptions{
    color: black;
}

.personMsgsContainer{
    padding: 20px;
}

.personWeekMsgsContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
}

.vehicleMsgsContainer{
    padding: 20px;
}

.vehicleWeekMsgsContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
}

.issuesSection{
    padding: 20px;
}

.sourceSection{
    padding: 20px;
}

.digitButton {
    width: 80px;
    height: 40px;
    color: white !important;
    border-color: white !important;
    span {
        font-size: 29px;
        font-weight: bold;
    }
}

.selectOtherDigitButton{
    margin-top: 2% !important;
    border: 2px solid #e87000 !important;
    color: white !important;
}

.sourceInfo{
    color: white !important;
}